  body{
    background-image: url("../assets/MyDigitalWill.png");
  }
  #Register{
    position: absolute;
    left: 42%;
    top: 25%;
  }
  #Login{
    position:absolute;
    left: 42%;
    top: 45%;
  }
  h1{
    text-align: center;
  }
  form{
    text-align: center;
  }
  p{
    text-align: center;
  }
  button{
    position: absolute;
    left: 45%;
    top: 92%;
  }
  #RegisterButton{
    position: absolute;
    left: 38%;
    top: 92%;
  }
  #RegisterButton:hover{
    background-color: rgb(0, 255, 0);
  }
  #LoginButton{
    position: absolute;
    left: 40%;
    top: 92%;
  }
  #LoginButton:hover{
    background-color: rgb(0, 255, 0);
  }